.card {
  min-height: 300px;
}

.card img {
  padding: 0px;

}

.card-body h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}


.btn-primary {
  border-color: lightcoral;
  background-color: lightcoral;
}

.comment-image-container {
  height: auto;
  width: auto;
}

.comment-content {
  display: flex;
  align-items: center;

}

.reply-image-container {
    display: flex;
    align-items: center;

  }

.commentimage {
  height: 30px;
  width: 30px;
  padding: 0;
}

.replyimage {
  height: 25px;
  width: 25px;
  display: block;
}

.col-sm-12 p-0 img {
  max-width: 900px;
  height:auto;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
}

.scrollable-content {
  max-height: 900px;
  overflow-y: auto;
  overflow-x: auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.comment-list {
  flex-grow: 1;
  /* Takes up available space */
  overflow-y: auto;
  /* Enables scrolling */
  padding-right: 5px;
}

.comment-section {
  display: flex;
  flex-direction: column;
  max-height: 250px;
  max-width: 370px;
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid black;
  border-radius: 2px;
  padding: 10px;
}

comment-text {
  margin-left: 50px;
}

.swiper-container {
  width: 100%;
  padding: 20px 0;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  position: relative;
  margin-top: 10px;
}
