<div class="row">
  <div class="col-5 m-auto">
    <div class="card m-auto shadow-lg border-0">
      <div class="card-header head-heading text-center">Register</div>
      <div class="text-center">
        <h6>Register Yourself!!!!</h6>
      </div>
      
      <div class="card-body">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <div class="form-group col-12">
            <label for="name" class="form-label">Username</label>
            <input type="text"
                   class="form-control"
                   formControlName="userName" />
            <span class="error-block text-danger"
                  *ngIf="!userName?.valid && (userName?.touched || userName?.dirty || formSubmitted)">
              
              <span class="error-block text-danger"
                  *ngIf="userName?.errors?.['minlength'] || userName?.errors?.['pattern'] || userName?.errors?.['whitespace'] || userName?.errors?.['required']">Please enter a valid username with at least 3 characters</span>
            </span>
            
            
          </div>
          <br /><br />
          <div class="form-group col-12">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email" />
            <span class="error-block text-danger"
                  *ngIf="!email?.valid && (email?.touched || formSubmitted)">
              <span *ngIf="email?.hasError('required')">
                Please provide an email
              </span>
              <span *ngIf="email?.hasError('email')">
                Please provide a valid email
              </span>
            </span>
            
          </div>
          <br /><br />
          <div class="form-group col-12">
            <label for="password" class="form-label">Password</label>
            <input type="password"
                   class="form-control"
                   formControlName="password" />
            <span class="error-block text-danger"
                  *ngIf="!password?.valid && (password?.touched || password?.dirty || formSubmitted)">
              <span *ngIf="password?.hasError('required') || password?.hasError('minlength') || password?.errors?.['whitespace']">
                Please provide a valid password with at least 8 characters
              </span>
              
            </span>
          </div>
          <br /><br />
          <div class="form-group col-12">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password"
                   class="form-control"
                   formControlName="confirmPassword" />
            <span class="error-block text-danger"
                  *ngIf="
                !confirmPassword?.valid &&
                (confirmPassword?.touched || formSubmitted)
              ">
              <span *ngIf="confirmPassword?.hasError('required')">Please confirm password</span>
            </span>
            <span class="error-block text-danger"
                  *ngIf="
                registrationForm.hasError('passwordMismatch') &&
                confirmPassword?.valid
              ">
              Passwords do not match
            </span>
          </div>
          <br /><br />
          <div class="form-group col-12 text-center">
            <button type="submit" class="btn btn-primary me-2"
                    [disabled]="registrationForm.invalid">Save</button>
            <button type="reset" class="btn btn-secondary ml-2" routerLink="/">Cancel</button>
          </div>
          <br />
          <div class="col-12 text-center form-label">
            Already have an account/Want social login?
            <a href="/user/login" class="link-style">Log In</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
