.ng-invalid.ng-touched {
  border-color: red;
}

.error-block {
  color: red;
}

.btn-group > label[ng-reflect-btn-radio] {
  border-radius: 10px;
  padding: 0 15px;
  line-height: 30px;
  margin-right: 5px;
}

.nav-tabs {
  margin-bottom: 15px;
}
/* 
.btn-primary {
  border-color: lightcoral !important;
  background-color: lightcoral !important;
  transition: all 0.3s;
} */
