<div class="corusel-container">
  <app-featured-listing-carousel></app-featured-listing-carousel>
</div>
<div class="container mt-5 p-0">
  <div class="card-filter p-4 shadow-lg rounded">
    <div class="card-body">
      <h4 class="card-title-filter mb-4">Filter and Sort</h4>
      <div class="d-flex justify-content-between">
        <div class="w-80 d-flex align-items-center">
          <div class="d-flex align-items-center mr-3">
            <label for="cityInput" class="mr-2 mb-0">Filter Article:</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="cityInput"
              [(ngModel)]="name"
            />
            <button
              type="button"
              class="btn btn-primary btn-sm ml-2"
              (click)="onCityFilter()"
            >
              Search
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm ml-2"
              (click)="onCityFilterReset()"
            >
              <i class="fa-solid fa-filter"></i>
            </button>
          </div>
        </div>
        <div class="w-50 d-flex align-items-center">
          <div class="d-flex align-items-center mr-3">
            <label for="sortSelect" class="mr-2 mb-0">Sort by</label>
            <select
              class="form-control form-control-sm"
              id="sortSelect"
              [(ngModel)]="SortbyParam"
            >
              <option value="Name">Name</option>
              
            </select>
            <button
              type="button"
              class="btn btn-success btn-sm ml-2"
              (click)="onSortDirection()"
            >
              Sort
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div
    *ngFor="
      let article of Articles
        | filter : SearchName : 'name'
        | sort : [SortbyParam, SortDirection]
    "
    class="card-main-style col-sm-3"
  >
    <app-property-card [article]="article"></app-property-card>
  </div>
</div>
