<div class="row">
  <div class="col-5 m-auto">
    <div class="card m-auto shadow-lg border-0">
      <div class="card-header head-heading text-center">Login</div>
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="form-group col-12">
            <label class="form-label"> Username </label>
            <input type="text" class="form-control" formControlName="userName" />
            <span class="error-block text-danger"
                  *ngIf="!userName?.valid && (userName?.touched || userName?.dirty || formSubmitted)">
                  <span class="error-block text-danger"
                  *ngIf="userName?.errors?.['minlength'] || userName?.errors?.['pattern'] || userName?.errors?.['whitespace'] || userName?.errors?.['required']">Please enter a valid username with at least 3 characters</span>
            </span>
            
          </div>
          <br /><br />

          <div class="form-group col-12">
            <label class="form-label">Password</label>
            <input
              class="form-control"
              required
              type="password"
              formControlName="password"
            />
            <span class="error-block text-danger"
                  *ngIf="!password?.valid && (password?.touched || password?.dirty || formSubmitted)">
                  <span class="error-block text-danger"
                  *ngIf="password?.errors?.['minlength'] || password?.errors?.['pattern'] || password?.errors?.['whitespace'] || password?.errors?.['required']">Please enter a valid password with at least 8 characters</span>
            </span>
          </div>
          <br /><br />

          <div class="form-group col-12 text-center">
            <button
              [disabled]="loginForm.invalid"
              type="submit"
              class="btn btn-primary me-2"
            >
              Login
            </button>
            <button type="button" class="btn btn-secondary ml-2">Cancel</button>
          </div>
          <br />
          <div class="col-12 text-center form-label">
            Don't have an account?
            <a href="/user/register" class="link-style">Sign up</a>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>
