<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Scribble</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item">
          <a
            *ngIf="loggedIn()"
            class="nav-link active"
            aria-current="page"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            routerLink="/add-property"
            >Create Article</a
          >

          
        </li>
        <li>
          <a *ngIf="loggedIn()" class="nav-link active" aria-current="page" [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active" routerLink="/explore-author">Explore Authors</a>
        </li>
      </ul>
      <div>
        <ul class="nav navbar-nav">
          <li *ngIf="!loggedIn()" class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              routerLink="/user/register"
              >Register</a
            >
          </li>
          <li *ngIf="!loggedIn()" class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              routerLink="/user/login"
              >Login</a
            >
          </li>
          <!-- <li *ngIf="loggedIn()" class="nav-item">
            <a class="nav-link" (click)="onLogout()">Logout</a>
          </li> -->
          <div *ngIf="loggedIn()" class="dropdown_mr-5 dropdown">
            <a
              href="#"
              class="dropdown-toggle text-white"
              (click)="toggleDropdown()"
            >
              Welcome {{ loggedInUser }}
            </a>
            <div class="dropdown-menu" [ngClass]="{ show: isDropdownOpen }">
              <a (click)="onLogout()" class="dropdown-item">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</nav>
