.main-card-wrapper {
  border-radius: 15px;
  height: 400px; /* Set a fixed height for the card */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.houseImg {
  border-radius: 15px 15px 0px 0px;
  max-height: 100%;
  /* width: auto; */
  object-fit: cover;
}

.img-wrapper {
  overflow: hidden;
  position: relative;
  height: 200px;
}

.card:hover img {
  transform: scale(1.2, 1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: 0.5;
  border-radius: 15px 15px 0px 0px;
}

.card-body h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.card img {
  transform: scale(1, 1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.button-container {
  position: absolute;
  bottom: -10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

.img-wrapper:hover .button-container {
  bottom: 0;
  opacity: 1;
}

.btn-animate {
  transition: all 0.3s ease-in-out;
}
/* 
.main-card-wrapper {
  height: 400px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

/* .img-wrapper {
  height: 200px; 
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* 
.houseImg {
  max-height: 100%;
  width: auto;
  object-fit: cover; 
} */

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-primary {
  border-color: lightcoral;
  background-color: lightcoral;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: #f14f4f;
  border-color: #f14f4f;
}
